.loginbox{
    width: 50vw;
    margin: auto;
    border: 2px solid rebeccapurple;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}